
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-Hant-TW">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>時資有Way</title>
    <link href="~/img/TMGLOGO.png" rel="icon">
    <link href="~/img/TMGLOGO.png" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: Microsoft JhengHei;
            font-size: 16px;
            background-image: url(../img/hero-bg.jpg);
            padding: 5% 25%;
        }

        .main {
            background-color: white;
            opacity: 0.8;
            border-radius: 10px;
            padding: 5%;
        }
    </style>
</head>
<body>
    <div class="main">
        <h3 class="text-center">新增事件</h3>
        <hr />

        <form method="post">

            @*<input type="hidden" name="dataId" value="@Model.PersonId">*@
            <!-- Text input-->
            <div class="form-group row">
                <label class="control-label col-sm-3" for="ymd">日期:</label>
                <div class="col-sm-6">
                    <input id="ymd" name="ymd" type="text" placeholder="選取日期" class="form-control input-sm dateRange" required="">
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group row">
                <label class="control-label col-sm-3" for="startHour">開始時間(24小時制):</label>
                <div class="col-sm-3">
                    <select id="startHour" name="startHour" class="form-control">
                        @for (int i = 0; i < 24; i++)
                        {
                            string hour = i.ToString().PadLeft(2, '0');
                            <option value="@hour">@hour</option>
                        }
                    </select>
                </div>:
                <div class="col-sm-3">
                    <select id="startMin" name="startMin" class="form-control">
                        <option value="00">00</option>
                        <option value="30">30</option>
                    </select>
                </div>

            </div>

            <!-- Select Basic -->
            <div class="form-group row">
                <label class="control-label col-sm-3" for="endHour">結束時間(24小時制):</label>
                <div class="col-sm-3">
                    <select id="endHour" name="endHour" class="form-control">
                        @for (int i = 0; i < 24; i++)
                        {
                            string hour = i.ToString().PadLeft(2, '0');
                            <option value="@hour">@hour</option>
                        }
                    </select>
                </div>:
                <div class="col-sm-3">
                    <select id="endMin" name="endMin" class="form-control">
                        <option value="00">00</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group row">
                <label class="control-label col-sm-3" for="category">事件類別:</label>
                <div class="col-sm-5">
                    <select id="category" name="category" class="form-control">
                     @*   <option hidden disabled selected>--請選擇--</option>*@
                        <option value="工作">工作</option>
                        <option value="學習">學習</option>
                        <option value="食">食</option>
                        <option value="睡眠">睡眠</option>
                        <option value="運動">運動</option>
                        <option value="娛樂">娛樂</option>
                        <option value="閱讀">閱讀</option>
                        <option value="行車/乘車">行車/乘車</option>
                        <option value="家務事">家務事</option>
                        <option value="親子/家庭">親子/家庭</option>
                        <option value="其他" selected>其他</option>
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group row">
                <label class="col-sm-3 control-label" for="memo">備註(選填，最多20字):</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="memo" name="memo"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="send"></label>
                <div class="text-center">
                    <button id="send" name="OkOrCancel" value="ok" class="btn btn-success m-1">送出</button>
                    <button id="cancel" name="OkOrCancel" value="cancel" class="btn btn-danger m-1">取消</button>
                </div>
            </div>

            <a href="/home" style="float:right;right:5%;bottom:5%;">
                <img name="homeIcon" src="~/img/homeicon.ico" style="height:20%;width:20%;" /> 回到首頁
            </a>
            <!-- Button (Double) -->


        </form>

    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $("input.dateRange").daterangepicker({
            showDropdowns: true,
            singleDatePicker: true,
            opens: "left",
            startDate: moment(),
            locale: {
                format: "YYYY-MM-DD",
                daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                monthNames: ["1月", "2月", "3月", "4月", "5月", "6月",
                    "7月", "8月", "9月", "10月", "11月", "12月"
                ],
                firstDay: 0
            }
        });
    </script>

</body>
</html>
